@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
{
    --black: #080813;
    --white: white;
    --white-transparent-10: rgba(255,255,255,0.1);
}

body
{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--white);
    background-color: var(--black);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/*begin::header*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

header > div:first-child
{
    text-align: center;
}

header > div:first-child > img
{
    height: 80px;
}

header h1
{
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
}

header h2
{
    margin-top: 0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: .6;
}

header h2 > a
{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}
/*end::header*/

/*begin::main*/
main > section:not(:first-child)
{
    margin-top: 10rem;
}
/*end::main*/

/*begin::guirlande*/
.guirlande
{
    border-top: 2px solid var(--white-transparent-10);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.guirlande > div
{
    position: relative;
    height: 15px;
    width: 5px;
    background-color: var(--white-transparent-10);
}

.guirlande > div::before
{
    content: "";
    position: absolute;
    top: 15px;
    width: 5px;
    height: 5px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 1px var(--white);
}

.guirlande > div:nth-child(odd)::before
{
    animation: ampoule_cligno_linear_odd .5s infinite;
}

.guirlande > div:nth-child(even)::before
{
    animation: ampoule_cligno_linear .5s infinite;
}

g > rect[fill="rgb(235,235,235)"]:nth-child(even)
{
    fill: var(--white);
    -moz-box-shadow: 0px 0px 25px var(--white);
    -webkit-box-shadow: 0px 0px 25px var(--white);
    box-shadow: 0px 0px 25px 1px var(--white);
    animation: ampoule_cligno .5s infinite;
}

g > rect[fill="rgb(235,235,235)"]:nth-child(odd)
{
    fill: var(--white);
    -moz-box-shadow: 0px 0px 25px var(--white);
    -webkit-box-shadow: 0px 0px 25px var(--white);
    box-shadow: 0px 0px 25px 1px var(--white);
    animation: ampoule_cligno_odd .5s infinite;
}

@keyframes ampoule_cligno {
    0%, 100%
    {
        fill: var(--white);
        -moz-box-shadow: 0px 0px 25px var(--white);
        -webkit-box-shadow: 0px 0px 25px var(--white);
        box-shadow: 0px 0px 25px 1px var(--white);
    }
    50%
    {
        fill: var(--black);
        -moz-box-shadow: 0px 0px 25px var(--black);
        -webkit-box-shadow: 0px 0px 25px var(--black);
        box-shadow: 0px 0px 25px 1px var(--black);
    }
}

@keyframes ampoule_cligno_odd {
    0%, 100%
    {
        fill: var(--black);
        -moz-box-shadow: 0px 0px 25px var(--black);
        -webkit-box-shadow: 0px 0px 25px var(--black);
        box-shadow: 0px 0px 25px 1px var(--black);
    }
    50%
    {
        fill: var(--white);
        -moz-box-shadow: 0px 0px 25px var(--white);
        -webkit-box-shadow: 0px 0px 25px var(--white);
        box-shadow: 0px 0px 25px 1px var(--white);
    }
}

@keyframes ampoule_cligno_linear {
    0%, 100%
    {
        background-color: var(--white);
        box-shadow: 0px 0px 25px 1px var(--white);
    }
    50%
    {
        background-color: var(--black);
        box-shadow: 0px 0px 25px 1px var(--black);
    }
}

@keyframes ampoule_cligno_linear_odd {
    0%, 100%
    {
        background-color: var(--black);
        box-shadow: 0px 0px 25px 1px var(--black);
    }
    50%
    {
        background-color: var(--white);
        box-shadow: 0px 0px 25px 1px var(--white);
    }
}
/*end::guirlande*/